{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
	<!-- Slider Start -->
	<section id="home" class="iq-main-slider p-0">
		<div
			id="home-slider" class="slider m-0 p-0">

			{# Début à factoriser après #}
			{% for flashError in app.flashes('success') %}
				<div class="alert alert-success" role="alert">{{ flashError }}</div>
			{% endfor %}
			{# Fin à factoriser après #}
			{# Carroussel #}
			{% if topTenMovies %}
				{% for topTenMovie in topTenMovies %}
					<div class="slide" style="background: url({{topTenMovie.cover}}) no-repeat center; height: 700px;">
						<div class="container-fluid position-relative h-100">
							<div class="slider-inner h-100">
								<div class="row align-items-center h-100">
									<div class="col-xl-6 col-lg-12 col-md-12">
										<h1 class="slider-text title text-uppercase" data-animation-in="fadeInLeft" data-delay-in="0.6" style="text-shadow: 3px 3px 20px black;">{{topTenMovie.title}}</h1>
										<div class="d-flex align-items-center" data-animation-in="fadeInUp" data-delay-in="1">
											<span class="badge badge-secondary p-2">18+</span>
										</div>
										<p data-animation-in="fadeInUp" data-delay-in="1.2" style="text-shadow: 1px 1px 2px black;">{{topTenMovie.description}}</p>
										<div class="d-flex align-items-center r-mb-23" data-animation-in="fadeInUp" data-delay-in="1.2">
											<a href="{{ path('details', { 'slug': topTenMovie.slug }) }}" class="btn btn-hover">
												<i class="fa fa-play mr-2" aria-hidden="true"></i>Lecture</a>
											<a href="https://youtu.be/{{ topTenMovie.trailer }}" target="_blank">
												<span class="w-trailor">&nbspVoir bande-annonce</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		{# <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
						        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44px" height="44px" id="circle"
						            fill="none" stroke="currentColor">
						            <circle r="20" cy="22" cx="22" id="test"></circle>
						        </symbol>
						        </svg> #}
	</section>
	<!-- Slider End -->

{% endblock %}

{% block javascripts %}{% endblock %}
