{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
	<!-- Slider Start -->
    {% if movies %}
	<section class="iq-main-slider p-0">
		<div id="tvshows-slider">
        {% for topTenMovie in topTenMovies %}
			<div>
				<a href="{{path('details')}}">
					<div class="shows-img">
						<img src={{ topTenMovie.cover }} class="w-100" alt="{{topTenMovie.title}}">
						<div class="shows-content">
							<h4 class="text-white mb-1">{{topTenMovie.title}}</h4>
							<div class="movie-time d-flex align-items-center">
								<div class="badge badge-secondary p-1 mr-2">13+</div>
								<span class="text-white">{{topTenMovie.duration}}</span>
							</div>
						</div>
					</div>
				</a>
			</div>
            
        {% endfor %}
		</div>
	</section>
        
    {% endif %}
	<!-- Slider End -->
	<!-- MainContent -->
	<div class="main-content">
		<section id="iq-favorites">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 overflow-hidden">
						{% if movies %}
							<div class="iq-main-header d-flex align-items-center justify-content-between">
								<h4 class="main-title">ABCD</h4>
							</div>
							<div class="favorites-contens">
								<ul class="favorites-slider list-inline  row p-0 mb-0">
									{% for movie in movies %}
										<li class="slide-item">
											<a href="{{ path('details') }}">
												<div class="block-images position-relative">
													<div class="img-box">
														<img src={{ movie.cover }} class="img-fluid" alt="{{movie.title}}">
													</div>
													<div class="block-description">
														<h6>{{ movie.title }}</h6>
														<div
															class="movie-time d-flex align-items-center my-2">
															{# TO CHECK age limit #}
															<div class="badge badge-secondary p-1 mr-2">5+</div>
															<span class="text-white">{{movie.duration}}</span>
														</div>
													</div>
												</div>
											</a>
										</li>
									{% endfor %}
								</ul>
							{% else %}
								<div class="iq-main-header d-flex align-items-center justify-content-between">
									{# TO CHECK text #}
                                    <h4 class="main-title">Aucun résultat / Contenu vide</h4>
								</div>

							{% endif %}

						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}
