{% extends "base.html.twig" %}

{% block title %}films name exemple...{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
{% endblock %}

{% block body %}

   <!-- Banner Start -->
   <div class="video-container iq-main-slider">
      <video class="video d-block" controls loop>
         <source src={{ asset('assets/movie_catalog_front_office/video/sample-video.mp4') }} type="video/mp4">
      </video>
   </div>
   <!-- Banner End -->


    <!-- MainContent -->
    <div class="main-content movi">
      <section class="movie-detail container-fluid">
         <div class="row">
            <div class="col-lg-12">
               <div class="trending-info g-border">
                  <h1 class="trending-text big-title text-uppercase mt-0">{{ movie.title }}</h1>
                  <ul class="p-0 list-inline d-flex align-items-center movie-content">
                     <li class="text-white">Action</li>
                     <li class="text-white">Drama</li>
                     <li class="text-white">Thriller</li>
                  </ul>
                  <div class="d-flex align-items-center text-white text-detail">
                     <span class="badge badge-secondary p-3">13+</span>
                     <span class="ml-3">3h 15m</span>
                     <span class="trending-year">2020</span>
                  </div>
               {# <a href="javascript:void();"><img src={{ asset('assets/movie_catalog_front_office/images/trending/trending-label.jpg') }} class="img-fluid"
                     alt=""></a> #}
                  {% if movie.ratings|length > 0 %}
                     {% set ratingSUM = 0 %}
                     {% set counter = 0 %}
                     {% set users = [] %}
                     {% for rating in movie.ratings %}
                        {% set ratingSUM = ratingSUM + rating.rating %}
                        {% set users = users|merge([rating.author.getFullName]) %}
                        
                     {% endfor %}
                     
                     {% set ratingAVG = ratingSUM / movie.ratings|length %}

                        <span class="text-gold">
                           {% for i in 0..4 %}
                              {% set counter = ratingAVG - i %}
                              {% if counter >= 1 %}
                                 <i class="fas fa-star"></i>
                                 {% elseif counter < 1 and counter > 0  %}
                                    <i class="fas fa-star-half-alt"></i>
                                    {% else %}
                                       <i class="far fa-star"></i>
                              {% endif %}
                           {% endfor %}
                        </span>&nbsp;{{ ratingAVG| number_format(1) }} sur 5.0

                        {% if app.user %}
                           {% if app.user.getFullName not in users %}
                              <div class="d-flex align-items-center series mb-4">
                                 <span class="text-gold">Aidez à vous proposer des contenus à la hauteur de vos attentes en notant ce contenu !</span>
                              </div> 
                              {% include "movie_catalog/movie/_form.html.twig" %}
                           {% endif %}
                              
                           {% else %}
                              <div class="d-flex align-items-center series mb-4">
                                 Vous devez vous connecter si vous souhaitez noter ce contenu.
                              </div>
                        {% endif %}

                        {% else %}
                           <div class="d-flex align-items-center series mb-4">
                              <span class="text-gold">Soyez la première personne à noter ce film</span>
                           </div>
                           {% include "movie_catalog/movie/_form.html.twig" %}                           
                  {% endif %}

                  <p class="trending-dec w-100 mb-0">{{ movie.description }}</p>
                  <ul class="list-inline p-0 mt-4 share-icons music-play-lists">
                     <li><span><i class="ri-add-line"></i></span></li>
                     <li><span><i class="ri-heart-fill"></i></span></li>
                     <li class="share">
                        <span><i class="ri-share-fill"></i></span>
                        <div class="share-box">
                           <div class="d-flex align-items-center">
                              <a href="#" class="share-ico"><i class="ri-facebook-fill"></i></a>
                              <a href="#" class="share-ico"><i class="ri-twitter-fill"></i></a>
                              <a href="#" class="share-ico"><i class="ri-links-fill"></i></a>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      <section id="iq-favorites" class="s-margin">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12 overflow-hidden">
                  <div class="iq-main-header d-flex align-items-center justify-content-between">
                     <h4 class="main-title">More Like This</h4>
                     <a href="movie-category.html" class="text-primary">View all</a>
                  </div>
                  <div class="favorites-contens">
                     <ul class="list-inline favorites-slider row p-0 mb-0">
                        <li class="slide-item">
                           <a href="movie-details.html">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src={{ asset('assets/movie_catalog_front_office/images/movies/06.jpg') }} class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6>The Lost Journey</h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">20+</div>
                                       <span class="text-white">2h 15m</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play
                                          Now</span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                       <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                       <li><span><i class="ri-heart-fill"></i></span></li>
                                       <li><span><i class="ri-add-line"></i></span></li>
                                    </ul>
                                 </div>
                              </div>
                           </a>
                        </li>
                        <li class="slide-item">
                           <a href="movie-details.html">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src={{ asset('assets/movie_catalog_front_office/images/movies/07.jpg') }} class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6>Boop Bitty</h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">11+</div>
                                       <span class="text-white">2h 30m</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play
                                          Now</span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                       <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                       <li><span><i class="ri-heart-fill"></i></span></li>
                                       <li><span><i class="ri-add-line"></i></span></li>
                                    </ul>
                                 </div>
                              </div>
                           </a>
                        </li>
                        <li class="slide-item">
                           <a href="movie-details.html">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src={{ asset('assets/movie_catalog_front_office/images/movies/08.jpg') }} class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6>Unknown Land</h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">17+</div>
                                       <span class="text-white">2h 30m</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play
                                          Now</span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                       <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                       <li><span><i class="ri-heart-fill"></i></span></li>
                                       <li><span><i class="ri-add-line"></i></span></li>
                                    </ul>
                                 </div>
                              </div>
                           </a>
                        </li>
                        <li class="slide-item">
                           <a href="movie-details.html">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src={{ asset('assets/movie_catalog_front_office/images/movies/09.jpg') }} class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6>Blood Block</h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">13+</div>
                                       <span class="text-white">2h 40m</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play
                                          Now</span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                       <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                       <li><span><i class="ri-heart-fill"></i></span></li>
                                       <li><span><i class="ri-add-line"></i></span></li>
                                    </ul>
                                 </div>
                              </div>
                           </a>
                        </li>
                        <li class="slide-item">
                           <a href="movie-details.html">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src={{ asset('assets/movie_catalog_front_office/images/movies/10.jpg') }} class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6>Champions</h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">13+</div>
                                       <span class="text-white">2h 30m</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play
                                          Now</span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                       <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                       <li><span><i class="ri-heart-fill"></i></span></li>
                                       <li><span><i class="ri-add-line"></i></span></li>
                                    </ul>
                                 </div>
                              </div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="iq-upcoming-movie">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12 overflow-hidden">
                  <div class="iq-main-header d-flex align-items-center justify-content-between">
                     <h4 class="main-title">Upcoming Movies</h4>
                     <a href="movie-category.html" class="text-primary">View all</a>
                  </div>
                  <div class="upcoming-contens">
                     <ul class="favorites-slider list-inline  row p-0 mb-0">
                        <li class="slide-item">
                           <a href="movie-details.html">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src={{ asset('assets/movie_catalog_front_office/images/upcoming/01.jpg') }} class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6>The Last Breath</h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">5+</div>
                                       <span class="text-white">2h 30m</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play Now
                                       </span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                       <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                       <li><span><i class="ri-heart-fill"></i></span></li>
                                       <li><span><i class="ri-add-line"></i></span></li>
                                    </ul>
                                 </div>
                              </div>
                           </a>
                        </li>
                        <li class="slide-item">
                           <a href="movie-details.html">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src={{ asset('assets/movie_catalog_front_office/images/upcoming/02.jpg') }} class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6>Last Night</h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">22+</div>
                                       <span class="text-white">2h 15m</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover">
                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play Now
                                       </span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                       <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                       <li><span><i class="ri-heart-fill"></i></span></li>
                                       <li><span><i class="ri-add-line"></i></span></li>
                                    </ul>
                                 </div>
                              </div>
                           </a>
                        </li>
                        <li class="slide-item">
                           <a href="movie-details.html">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src={{ asset('assets/movie_catalog_front_office/images/upcoming/03.jpg') }} class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6>1980</h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">25+</div>
                                       <span class="text-white">3h</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover">
                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play Now
                                       </span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                       <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                       <li><span><i class="ri-heart-fill"></i></span></li>
                                       <li><span><i class="ri-add-line"></i></span></li>
                                    </ul>
                                 </div>
                              </div>
                           </a>
                        </li>
                        <li class="slide-item">
                           <a href="movie-details.html">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src={{ asset('assets/movie_catalog_front_office/images/upcoming/04.jpg') }} class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6>Looters</h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">11+</div>
                                       <span class="text-white">2h 45m</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover">
                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play Now
                                       </span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                       <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                       <li><span><i class="ri-heart-fill"></i></span></li>
                                       <li><span><i class="ri-add-line"></i></span></li>
                                    </ul>
                                 </div>
                              </div>
                           </a>
                        </li>
                        <li class="slide-item">
                           <a href="movie-details.html">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src={{ asset('assets/movie_catalog_front_office/images/upcoming/05.jpg') }} class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6>Vugotronic</h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">9+</div>
                                       <span class="text-white">2h 30m</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover">
                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play Now
                                       </span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                       <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                       <li><span><i class="ri-heart-fill"></i></span></li>
                                       <li><span><i class="ri-add-line"></i></span></li>
                                    </ul>
                                 </div>
                              </div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
{% endblock %}

{% block javascripts %}{% endblock %}