{% extends "base.html.twig" %}

{% block title %}films name exemple...{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
{% endblock %}

{% block body %}

   <!-- Banner Start -->
   <div class="video-container iq-main-slider">
      <video class="video d-block" controls loop>
         <source src={{ asset('assets/movie_catalog_front_office/video/sample-video.mp4') }} type="video/mp4">
      </video>
   </div>
   <!-- Banner End -->


    <!-- MainContent -->
    <div class="main-content movi">
      <section class="movie-detail container-fluid">
         <div class="row">
            <div class="col-lg-12">
               <div class="trending-info g-border">
                  <h1 class="trending-text big-title text-uppercase mt-0">{{ movie.title }}</h1>
                  <ul class="p-0 list-inline d-flex align-items-center movie-content">
                     <li class="text-white">Action</li>
                     <li class="text-white">Drama</li>
                     <li class="text-white">Thriller</li>
                  </ul>
                  <div class="d-flex align-items-center text-white text-detail">
                     <span class="badge badge-secondary p-3">18+</span>
                     <span class="ml-3">3h 15m</span>
                     <span class="trending-year">2020</span>
                  </div>
               {# <a href="javascript:void();"><img src={{ asset('assets/movie_catalog_front_office/images/trending/trending-label.jpg') }} class="img-fluid"
                     alt=""></a> #}
                  {% if movie.ratings|length > 0 %}
                     {% set ratingSUM = 0 %}
                     {% set counter = 0 %}
                     {% set users = [] %}
                     {% for rating in movie.ratings %}
                        {% set ratingSUM = ratingSUM + rating.rating %}
                        {% set users = users|merge([rating.author.getFullName]) %}
                        
                     {% endfor %}
                     
                     {% set ratingAVG = ratingSUM / movie.ratings|length %}

                        <span class="text-gold">
                           {% for i in 0..4 %}
                              {% set counter = ratingAVG - i %}
                              {% if counter >= 1 %}
                                 <i class="fas fa-star"></i>
                                 {% elseif counter < 1 and counter > 0  %}
                                    <i class="fas fa-star-half-alt"></i>
                                    {% else %}
                                       <i class="far fa-star"></i>
                              {% endif %}
                           {% endfor %}
                        </span>&nbsp;{{ ratingAVG| number_format(1) }} sur 5.0

                        {% if app.user %}
                           {% if app.user.getFullName not in users %}
                              <div class="d-flex align-items-center series mb-4">
                                 <span class="text-gold">Aidez à vous proposer des contenus à la hauteur de vos attentes en notant ce contenu !</span>
                              </div> 
                              {% include "movie_catalog/movie/_form.html.twig" %}
                           {% endif %}
                              
                           {% else %}
                              <div class="d-flex align-items-center series mb-4">
                                 Vous devez vous connecter si vous souhaitez noter ce contenu.
                              </div>
                        {% endif %}

                        {% else %}
                           <div class="d-flex align-items-center series mb-4">
                              <span class="text-gold">Soyez la première personne à noter ce film</span>
                           </div>
                           {% include "movie_catalog/movie/_form.html.twig" %}                           
                  {% endif %}

                  <p class="trending-dec w-100 mb-0">{{ movie.description }}</p>
               </div>
            </div>
         </div>
      </section>
   </div>
{% endblock %}

{% block javascripts %}{% endblock %}